$color-red: red;
$color-purple: purple;
$color-green: green;
$color-magenta: magenta;
$color-lightcoral: lightcoral;
$color-pink: pink;

ul {
  a {
    text-decoration: none;

    &:hover {
      color: $color-red;
    }

    &:active {
      color: $color-purple;
    }

    &:visited {
      color: $color-green;
    }
  }
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }
}

a {
  .all-visited & {
    text-decoration: line-through;
  }
}

ol {
  a {
    &:hover {
      color: $color-magenta;
    }

    &:active {
      color: $color-pink;
    }

    &:visited {
      color: $color-lightcoral;
    }
  }
}
